.el-input
   width:13rem;
   padding-right:0px;
   margin:0.2rem auto;
.el-radio__input.is-checked+.el-radio__label
   color: #40FF4A;
.el-radio__input.is-checked .el-radio__inner
   border-color: #40FF4A;
   background: #40FF4A;
.el-form-item__label
  padding: 5px 6px 0 0;
  width:60px!important;
.el-form-item
  margin-bottom:0px;
.el-form-item__content
  margin-left:0px!important;
.el-form-item__error
  display:none;
.el-form-item.is-required .el-form-item__label:before
  content:''
.el-input__inner
  margin-left:10px;
.input
  .el-input__inner
    margin-left:0px;
.el-message-box
  width:280px;
.el-message--success
  min-width:280px;
  top:40%;
.el-message--info
  min-width:280px;
  top:40%;




